* {
  box-sizing: border-box;
}

%flex-align-center {
  display: flex;
  align-items: center;
}

// Color
$black: #333;
$gray: #666;
$red: #ff0000;
$tomato: #f76560;
$blue: #508bed;
$border: 1px solid #e8e8e8;
$shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
$img-border: 1px solid rgba(150, 150, 150, 0.1);

// FontSize
$fs04: 4px;
$fs1: 11px;
$fs2: 12px;
$fs3: 13px;
$fs4: 14px;
$fs5: 15px;
$fs6: 16px;
$fs7: 17px;
$fs8: 18px;
$fs20: 20px;
$fs21: 21px;

// FontWeight
$fw2: 200;
$fw3: 300;

// FontFamily
$NotoKR: 'Noto Sans KR';
