@import '../../../styles/common.scss';

.best {
  margin-bottom: 100px;
  .header {
    margin: 90px 10px 40px;
    color: #333;
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    h1 {
      margin-bottom: 25px;
    }
    p {
      color: #888;
      font-size: $fs7;
    }
  }

  .productList {
    max-width: 1340px;
    margin: 0 auto;

    .product {
      display: inline-block;
      & > * {
        text-align: center;
        margin-bottom: 10px;
        color: $black;
        font-size: $fs2;
      }

      .productImage {
        width: 314px;
        height: 314px;
      }

      .price,
      .result {
        font-size: $fs5;
      }
      .price {
        text-decoration: line-through;
      }
      .applyPrice {
        font-weight: bold;
      }
    }
  }
}
