.loginHome {
  display: flex;
  justify-content: center;
}
.icon {
  width: 980px;
}
.olBox {
  padding-top: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.list {
  list-style: none;
  color: lightgray;
  display: flex;
  flex-direction: row;
}
.link {
  text-decoration: none;
  color: #aaaaaa;
}
.fa-home {
  font-size: 15px;
  margin-right: 5px;
}
