.loginHome {
  display: flex;
  justify-content: center;

  .loginIcon {
    width: 980px;
    padding-bottom: 50px;
    padding: 0 100px;
    margin-right: 200px;
  }

  .loginKo {
    text-align: center;
    width: 980px;
    padding: 100px 0px 40px;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
    height: 50px;
    margin-bottom: 30px;
  }

  .idPw {
    padding: 35px 0px;
    width: 680px;
    margin: 0px 150px;
    border-top: 1px solid #aaa;
    display: flex;
  }

  .idBox {
    display: flex;
    line-height: 44px;
    margin-bottom: 3px;
  }

  .idKo {
    width: 100px;
    height: 44px;
    font-size: 14px;
    font-weight: normal;
  }

  .writeId {
    border-radius: 5px;
    width: 430px;
    height: 44px;
    font-size: 14px;
    padding: 0 10px;
    background-color: #f8f8f8;
    border: 0;
  }

  .pwBox {
    display: flex;
    line-height: 44px;
  }

  .pwKo {
    width: 100px;
    height: 44px;
    font-size: 14px;
    font-weight: normal;
  }

  .writePw {
    border-radius: 5px;
    width: 430px;
    height: 44px;
    font-size: 14px;
    padding: 0 10px;
    background-color: #f8f8f8;
    border: 0;
  }

  .loginBtBox {
    width: 92px;
    height: 90px;
    line-height: 70px;
    margin-left: 8px;
    background-color: #333;
    text-align: center;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .onColor {
    background-color: pink;
  }

  .offColor {
    background-color: #333;
  }

  .loginBt {
    text-decoration: none;
    color: #fff;
  }
  .searchBox {
    display: flex;
    justify-content: center;
    width: 680px;
    height: 30px;
    margin: 0px 150px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 0px 25px;
    font-size: 13px;
    font-weight: 300;

    .searchId {
      margin-right: 10px;
      .searchIdBox {
        text-decoration: none;
        color: black;
      }
    }

    .searchPw {
      margin-left: 10px;
      .searchPwBox {
        text-decoration: none;
        color: black;
      }
    }
  }

  .yet {
    padding: 30px 0px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    margin: 0px 150px;
    width: 680px;
    .general {
      font-size: 15px;
      line-height: 23px;
      font-weight: 400;
      .service {
        font-size: 13px;
        font-weight: 340;
        color: #888;
        padding: 0 15px;
        line-height: 23px;
      }
    }

    .memberBt {
      margin: 12px 0px 0px;
      border: 1px solid #d1d1d1;
      color: #333;
      background-color: #fff;
      border-radius: 3px;
      padding: 10px 18px;
      width: 200px;
    }
  }
}
