.home {
  display: flex;
  justify-content: center;

  .icon {
    width: 980px;
  }

  .olBox {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
  }

  .list {
    list-style: none;
    color: lightgray;
    display: flex;
    flex-direction: row;
  }

  .link {
    text-decoration: none;
    color: #aaaaaa;
  }

  .fa-home {
    font-size: 15px;
    margin-right: 5px;
  }

  .linkSignUp {
    margin-top: 3px;
    margin-left: 5px;
    font-size: 12px;
  }

  .signUp {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  h2 {
    text-align: center;
  }

  .type {
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
  }

  .memberColor {
    background-color: #fafafa;
    width: 200px;
    text-align: -webkit-center;
    padding: 18px 0px;
  }

  .division {
    color: #999;
  }

  .memberShip {
    padding: 18px 15px;
    width: 100%;
  }

  .company {
    margin-left: 10px;
  }

  .inform {
    border-bottom: 1px solid #e8e8e8;
  }

  .informBox {
    padding: 50px 0px 15px;
  }

  .idBox {
    border-top: 1px solid #e8e8e8;
  }
  .oneBox {
    border-bottom: 1px solid #e8e8e8;
  }

  .idColor {
    text-align: center;
    width: 200px;
    background-color: #fafafa;
    color: #999;
  }

  .idEnglish {
    padding: 18px 15px;
    display: flex;

    .id {
      border-radius: 5px;
      border: 1px solid #e8e8e8;
    }

    .notValid {
      color: red;
    }

    .valid {
      color: blue;
    }
  }
  .english {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 4px;
  }

  .pwColor {
    color: #999;
    text-align: center;
    width: 200px;
    background-color: #fafafa;
  }

  .pwKo {
    background-color: #fafafa;
  }

  .pwBox {
    display: flex;
    padding: 18px 15px;
  }

  .pw {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .notValid {
    color: red;
  }

  .valid {
    color: blue;
  }

  .pwEnglish {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 4px;
  }

  .write {
    border-top: 1px solid #e8e8e8;
  }

  .writeName {
    background-color: #fafafa;
  }

  .name {
    color: #999;
    text-align: center;
    width: 200px;
  }

  .naming {
    display: flex;
    padding: 18px 15px;
  }

  .nameBox {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .phoneBox {
    border-top: 1px solid #e8e8e8;
    display: flex;
  }

  .writePhone {
    background-color: #fafafa;
  }

  .phoneKo {
    color: #999;
    text-align: center;
    width: 200px;
  }

  .callingBox {
    display: flex;
  }

  .calling {
    display: flex;
    padding: 18px 15px;
  }

  .phone {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .emailBox {
    border-top: 1px solid #e8e8e8;
    display: flex;
  }

  .writeEmail {
    background-color: #fafafa;
  }

  .emailKo {
    color: #999;
    text-align: center;
    width: 200px;
  }

  .writing {
    display: flex;
    padding: 18px 15px;
  }

  .email {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .addInform {
    padding: 50px 0px 15px;
  }

  .plus {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  .gender {
    text-align: -webkit-center;
    color: #999;
  }

  .other {
    padding: 18px 0px;
    width: 196px;
    background-color: #fafafa;
  }

  .manWoman {
    padding: 18px 15px;
    width: 100%;
  }

  .woman {
    margin-left: 10px;
  }

  .bigAdd {
    border-bottom: 1px solid #e8e8e8;
  }

  .birthDay {
    text-align: -webkit-center;
    background-color: #fafafa;
    color: #999;
    width: 196px;
    padding: 18px 0px;
  }

  .dailyMonth {
    padding: 18px 15px;
    position: relative;
  }

  .daily {
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    font-size: 16px;
  }

  .endSignup {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 200px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .memberBt {
    margin: 12px 0px 0px;
    border: 1px solid #d1d1d1;
    color: #333;
    background-color: #333;
    border-radius: 3px;
    padding: 10px 18px;
    width: 200px;
  }
}
